/* 
project name: one pages
project date: 10 Temmuz 2022
project author: Uygar Süslü
project version: v.1
*/

/* #################################################################################### */

/* COMMON PROPERTY */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    margin-left:.7rem;
    margin-right:.7rem;
}

/* ############################################################################ */

/* LINE CLAMP */
.line_clamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line_clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line_clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ############################################################################ */

/* NAVBAR */
#navbar_id ul>li>a{
    font-size:.8rem;
}

#navbar_id ul>li>a>i{
    margin-right: .5rem;
    font-size:.8rem;
    color:chartreuse;
}

#right_navbar>button,a{
    font-size:.8rem;
}

@media screen and (max-width:991px){
    #right{
        display: none;
    }
}

/* ############################################################################ */

/* HEADER */
#header {
    background: url("./picture/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 36rem;
    padding: 200px 0 120px 0;
}
  
#header .header-img{
    width: 50%;
    float: right;
}
  
#header .header-info {
    width: 50%;
    float: left;
}

#header .header-info .btn {
    width: 10rem
}

@media screen and (max-width:991px){
    #header .header-img {
        width: 50%;
        float: none;
        margin: 0 auto 25px auto;
    }

    #header .header-info {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }

    #header .header-info .btn{
        margin-bottom: 5px;
    }
}

/* ############################################################################ */

/* MAIN */
#projects {
    padding-top:2rem;
    padding-bottom:2rem;
}
  
#projects .icon_message i{
    font-size:6rem;
}

#projects .icon_message img {
    width: 90%;
    /* height: 50%; */
    margin-bottom: 1rem;
}

@media screen and (max-width:991px){
    #projects div {
        margin-bottom: 1rem;
    }
}

/* ******************************* */

#counter {
    padding-top:2rem;
    padding-bottom:2rem;
    background-color: rgb(21,69,179, 0.6);
}
  
#counter .counter-header h3,
#counter .counter-header p {
    color: #fff;
    text-align: center;
}
  
#counter .counters {
    padding-top: 40px;
}
  
#counter .counters span {
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
}
  
#counter .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}

/* ******************************* */

#ability {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#ability i{
    color:red;
    font-size: 8rem;
}

#ability .card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.8);
}

#ability .card:hover{
   cursor:pointer;
   opacity:.7;
}

@media screen and (max-width:991px){
    #html, #css {
        margin-bottom: 1rem;
    }
}

/* ******************************* */

#newspaper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(21,69,179, 0.6);
}

#newspaper_id{
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ******************************* */

#blog {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#blog .card .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
    
#blog .card>a>img:hover{
    opacity:.8;
    cursor:pointer;
}

/* ******************************* */

.parallax {
    background-color:transparent;
    background-image: url('./picture/arkaplan.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.parallax>.container>.row>div>ul>li{
    list-style:disc;
}

/* ******************************* */

#aboutme {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
#aboutme>img {
    background-size: cover;
    background-position: 50% 50%;
    align-items: center;
}

#mobile1> ul>li{
    list-style:disc;
}

/* ******************************* */

#contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(21,69,179, 0.6);
}

#contact_form>.row>div {
    margin-bottom: .6rem;
}

#contact_form{
    background: #212529;
    padding:1rem;
}

/* ******************************* */

@media screen and (max-width:991px){
    #mobile1 {
        width: 100%;
        float: none;
        margin: 0 auto 25px auto;
    }

    #mobile2 {
        width: 100%;
        float: none;
        margin: auto;
        text-align: center;
    }
}

/* ############################################################################ */

/* FOOTER */
footer {
    min-height: 20rem;
    width: auto;
    background-color: #2f3337;
    color: white;
}

#address_id i {
    margin-right: .6rem;
    color: blueviolet;
}

#address_id a{
    color:chartreuse;
    font-size:.8rem;
}

#copy_right {
    background-color: #2f3337;
}

@media screen and (max-width:991px){
    #date {
        float: left;
    }  
}

/* ############################################################################ */

/* BACK TO TOP */
#back_top {
    background-color:#1c4fc3 ;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-right: .4rem;
    padding-bottom: .4rem;
    border-radius: .4rem;
    opacity:.7;
}

#back_top:hover {
    opacity: .9;
}

/* ############################################################################ */